* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* background colore */
    --bg-primary-color: #0A0F0D;

    /* text colors */
    --text-primary-color: #EEEEEE;

    /*Spacing variables*/
    --space-xs: 0.25rem;
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2rem;
    --space-2xl: 3rem;
    --space-3xl: 4rem;
    /*Snake Body	#00FF9F (neon mint)
Snake Head	#00FFC6
Food	#FF006E (neon magenta)
Grid Lines	rgba(0,255,159,0.12)*/


    /*border color*/
    --border-primary-color: rgba(0, 255, 159, 0.12);


    /*border radius*/
    --borrder-radius-sm: 4px;
    --borrder-radius-md: 8px;
    --borrder-radius-lg: 16px;
    --border-radius-xl: 24px;
    --border-radius-2xl: 32px;
}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main,
section {
    height: 100%;
    width: 100%;
}

section {
    padding: var(--space-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

section .infos {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--border-primary-color);
    border-radius: var(--borrder-radius-md);
}

.board {
    border: 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(30px, 1fr));
}

.block {
    /* width: 20px;
    height: 20px; */
    border: 1px solid var(--border-primary-color);

}